p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

body {
    margin: 10px;
}

.disp_box {
    width: 95%;
    border-style: solid;
    border-color: cadetblue;
    padding: 5px;
    border-radius: 5px;
}

.disp_header {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    background-color: lightcoral;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.disp_header>* {
    margin-right: 5px;
    margin-left: 5px;
}

h2 {
    color: #556788;
}

.disp_time {
    flex: 1 0 auto;
}

.disp_output {
    font-family: Consolas, monospace;
}
